$colors:(
    primary:#4b5c09,
    secondary:#273e06,
    accent:white,
    accent2:black,
    );
@function color($color-name){
    @return map-get($colors,$color-name)
};

$padding:15px;
$borders:20px;
$desktop:840px;
$mobile:415px;

@mixin desktop{
    @media(min-width: #{$desktop}) {
        @content;
    }
}
@mixin mobile{
    @media(max-width: #{$mobile}) {
        @content;
    }
}

body {
    background-color:color(primary);
 }

#wrapper {
  background-color:color(secondary);
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#wines {
  display: inline-block;
  background-color:transparent;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#notes {
  float: right;
  background-color:color(accent);
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color:color(accent);
  color: color(secondary);
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
.item{
  background-color:color(accent);
  padding:$padding;
  border:$borders;
  margin:20px;
}